In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "sanduiches.txt"
vendas = pd.read_table(file)
vendas.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [3]:
vendas.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
#Como utilizamos um método de string normalmente?

"Data Science".upper()

'DATA SCIENCE'

## Os métodos de strings no Pandas são acessados via .str

In [6]:
vendas.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

### Vamos procurar algum sanduíche que contenha Frango?

In [7]:
#Para realizar essa tarefa, criaremos uma série boleana (lembra?) e aplicaremos ao Dataframe

In [9]:
vendas.item_name.str.contains('Chicken').head(10)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9    False
Name: item_name, dtype: bool

In [12]:
vendas[vendas.item_name.str.contains('Chicken')].head(10)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49

In [13]:
#Vamos retirar os colchetes da lista de ingredientes
vendas.choice_description.str.replace('[','').str.replace(']','').head(10)

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5    Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                  NaN
7    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8    Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9    Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
Name: choice_description, dtype: object