# Listas

In [3]:
#Criação de lista
linguagens = ["Python","R","Julia","PHP"]

In [4]:
print(linguagens)

['Python', 'R', 'Julia', 'PHP']

In [5]:
#Lista Heterogenea
mundiais=["Brasil",58,52,70,94,2002,2018]

In [6]:
print(mundiais)

['Brasil', 58, 52, 70, 94, 2002, 2018]

In [7]:
#Assim como em strings, podemos indexar listas

pais = mundiais[0]
titulo01 = mundiais[1]
titulo02 = mundiais[2]
titulo03 = mundiais[3]
titulo04 = mundiais[4]
titulo05 = mundiais[5]

In [8]:
print(pais)
print(titulo01)
print(titulo02)
print(titulo03)
print(titulo04)
print(titulo05)

Brasil
58
52
70
94
2002

In [10]:
#Listas são mutáveis

mundiais[0] = "Alemanha"

In [11]:
mundiais[0]

'Alemanha'

In [12]:
mundiais

['Alemanha', 58, 52, 70, 94, 2002, 2018]

# Operações com listas

In [14]:
#Delete - Podemos deletar um elemento separado ou um range através do ÍNDICE

In [15]:
del mundiais[1:]

In [16]:
print(mundiais)

['Alemanha']

In [17]:
#Adicionando um Elemento
mundiais.append(2014)

In [20]:
print(mundiais)

['Alemanha', 2014]

In [23]:
#Adicionando mais de um elemento
mundiais.extend([1954,1974,1990])

In [24]:
print(mundiais)

['Alemanha', 2014, 1954, 1974, 1990]

In [25]:
#Podemos remover um elemento específico da lista com a função REMOVE
mundiais.remove(1990)

In [26]:
print(mundiais)

['Alemanha', 2014, 1954, 1974]

# Listas Aninhadas

In [28]:
mundiais=[["Brasil",58,62,70,94,2002],["Alemanha",54,74,90,14]]

In [29]:
print(mundiais)

[['Brasil', 58, 62, 70, 94, 2002], ['Alemanha', 54, 74, 90, 14]]

In [33]:
#Trazendo o primeiro elemento da lista
print(mundiais[0])

['Brasil', 58, 62, 70, 94, 2002]

In [34]:
#Acessando a lista e trazendo o segundo título do Brasil
print(mundiais[0][2])

62

# Concatenando Listas

In [36]:
a = ["Argentina",78,86]

In [37]:
b = ["Alemanha",54,74,90,2014]

In [38]:
c = ["Brasil",58,62,70,94,2002]

In [39]:
#Concatenando

fifa = a + b + c

In [40]:
fifa

['Argentina',
 78,
 86,
 'Alemanha',
 54,
 74,
 90,
 2014,
 'Brasil',
 58,
 62,
 70,
 94,
 2002]

In [41]:
fifa[10]

62

# Operador in

In [42]:
# Verificando se um elemento está na lista

print('Uruguai' in fifa)

False

In [50]:
print('Brasil' in fifa)

True

In [58]:
fifa

['Argentina',
 78,
 86,
 'Alemanha',
 54,
 74,
 90,
 2014,
 'Brasil',
 58,
 62,
 70,
 94,
 2002]

In [61]:
#Imprimindo os títulos de uma equipe

equipe = 'Brasil'

if equipe in fifa:
    a = fifa.index(equipe)
    print('Índice da equipe: ', a)
    print(equipe)
    print(fifa[a + 1:])
else:
    print(equipe + ' não possui títulos ou não está na lista')

Índice da equipe:  8
Brasil
[58, 62, 70, 94, 2002]

# Funções Built in

In [65]:
#Retorna o tamanho da lista
len(fifa)

14

In [66]:
#Valor máximo da lista - Não funciona com listas heterogeneas
max(fifa)

TypeError: '>' not supported between instances of 'int' and 'str'

In [67]:
numeros=[34,65,32,23,54,98,12]
palavras=['Macaco','Zebra','Cachorro','Gato']

In [68]:
print(max(numeros))
print(max(palavras))

98
Zebra

In [69]:
#valor mínimo da lista
print(min(numeros))
print(min(palavras))

12
Cachorro

In [71]:
#Reverte a lista posicionalmente
numeros.reverse()
palavras.reverse()
print(numeros)
print(palavras)

[34, 65, 32, 23, 54, 98, 12]
['Gato', 'Cachorro', 'Zebra', 'Macaco']

In [72]:
#Ordena a lista em ordem CRESCENTE
numeros.sort()
palavras.sort()
print(numeros)
print(palavras)

[12, 23, 32, 34, 54, 65, 98]
['Cachorro', 'Gato', 'Macaco', 'Zebra']

In [74]:
#Para ordenar decrescente, combinar as funções reverse + sort
numeros.sort()
numeros.reverse()
palavras.sort()
palavras.reverse()
print(numeros)
print(palavras)

[98, 65, 54, 34, 32, 23, 12]
['Zebra', 'Macaco', 'Gato', 'Cachorro']

In [78]:
#Adicionando valor repetido
#palavras=['Macaco','Zebra','Cachorro','Gato']

palavras.append('Macaco')

#Contando o numero de ocorrencias

print(palavras.count('Macaco'))
print(palavras)

3
['Zebra', 'Macaco', 'Gato', 'Cachorro', 'Macaco', 'Macaco']

In [79]:
#Criando lista vazia
a = []

In [80]:
print(a)

[]

In [82]:
type(a)

list

In [83]:
#POP - Retira o último objeto da lista, mas tem como retorno o próprio objeto. É POSICIONAL
lista = ['A','B','C','D','A']

print(lista)

['A', 'B', 'C', 'D', 'A']

In [84]:
print(lista.pop())

A

In [85]:
print(lista)

['A', 'B', 'C', 'D']

In [94]:
lista = ['Estatística', 'SQL', 'ETL', 'Big Data', 'Machine Learning']
print(lista)

['Estatística', 'SQL', 'ETL', 'Big Data', 'Machine Learning']

In [95]:
print(lista.pop())

Machine Learning

In [96]:
print(lista)

['Estatística', 'SQL', 'ETL', 'Big Data']

In [97]:
#Podemos também INDEXAR o objeto, iniciando de 0
print('Retirando o objeto',lista.pop(1))

Retirando o objeto SQL

In [98]:
print(lista)

['Estatística', 'ETL', 'Big Data']

In [99]:
print('Quero retirar o objeto ETL. Retirado:', lista.pop(1))

Quero retirar o objeto ETL. Retirado: ETL

# Os sets são conjuntos únicos. Semelhante a um SELECT DISTINCT e são muito utilizados em análise de Dados

In [101]:
conjunto = set()

In [102]:
conjunto.add('Java')
conjunto.add('R')
conjunto.add('Python')

In [103]:
print(conjunto)

{'Java', 'Python', 'R'}

In [104]:
#Tentando adicionar um elemento repetido
conjunto.add('Java')

In [105]:
#Imprimindo novamento - não repete
print(conjunto)

{'Java', 'Python', 'R'}

In [107]:
#sets não suportam indexaçao
print(conjunto[1])

TypeError: 'set' object does not support indexing

In [108]:
type(conjunto)

set

In [109]:
engenheiros = set(['João','Jane','Clara','Celia'])
programadores = set(['Clara','Sam','Susan','Celia'])
gerentes = set(['Jane','Clara','Susan','Zack'])

In [110]:
engenheiros

{'Celia', 'Clara', 'Jane', 'João'}

In [111]:
#União

funcionarios = engenheiros | programadores | gerentes

funcionarios

{'Celia', 'Clara', 'Jane', 'João', 'Sam', 'Susan', 'Zack'}

In [112]:
#Interseção

gerencia_engenharia = engenheiros & gerentes

gerencia_engenharia

{'Clara', 'Jane'}

In [113]:
#Diferença

a = gerentes - engenheiros

a

{'Susan', 'Zack'}

In [114]:
b = gerentes - programadores

b

{'Jane', 'Zack'}